In [1]:
with open('accounts.txt', mode = 'w') as accounts:
    accounts.write('100 Jones 24.98\n')
    accounts.write('200 Doe 345.67\n')
    accounts.write('300 White 0.00\n')
    accounts.write('400 Stones -42.16\n')
    accounts.write('500 Rich 224.62\n')

In [4]:
with open('accounts.txt', mode='r') as accounts:
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    for record in accounts:
        account, name, balance = record.split()
        print(f'{account:<10}{name:<10}{balance:>10}')

Account   Name         Balance
100       Jones          24.98
200       Doe           345.67
300       White           0.00
400       Stones        -42.16
500       Rich          224.62

UPDATING TXT FILES

In [49]:
accounts = open('accounts.txt', 'r')
temp_files = open('temp_files.txt', 'w')

In [50]:
with accounts, temp_files:
    for record in accounts:
        account, name, balance = record.split()
        if account != '300':
            temp_files.write(record)
        else:
            new_record = ' '.join([account, 'williams', balance])
            temp_files.write(new_record + '\n')
    
temp_files.close()

In [51]:
with open('temp_files.txt', mode='r') as temps:
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    # print('i')
    for record in temps:
        account, name, balance = record.split()
        print(f'{account:<10}{name:<10}{balance:>10}')

Account   Name         Balance
100       Jones          24.98
200       Doe           345.67
300       williams        0.00
400       Stones        -42.16
500       Rich          224.62

In [60]:
import os

In [61]:
os.remove('accounts.txt')

In [62]:
os.rename('temp_files.txt','accounts.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'temp_files.txt' -> 'accounts.txt'

In [65]:
with open('yoyo.txt', mode = 'w') as yoyo:
    yoyo.write('praj 9898 tim\n')
    yoyo.write('sam 9191 tom\n')
    yoyo.write('sin 9696 tam\n')

In [81]:
with open('yoyo.txt', mode = 'r') as yoyo:
    print(f'{"Name":<10}{"Code":<10}{"Nick_Name":>10}')
    for record in yoyo:
        name, code, nick_name = record.split()
        print(f'{name:<10}{code:<10}{nick_name:>10}')

Name      Code       Nick_Name
praj      9898             tim
sam       9191             tom
sin       9696             tam

In [96]:
chima = open('yoyo.txt', 'r')
yepp = open('yepp.txt', 'w')

In [97]:
with chima,yepp:
    for record in chima:
        name, code, nick_name = record.split()
        if name == "sam":
            new_record = ' '.join([name] + ['SSS'] + [nick_name] + ['\n'])
            yepp.write(new_record)
        else:
            yepp.write(record)

In [98]:
with open('yepp.txt', mode = 'r') as yepp:
    print(f'{"Name":<10}{"Code":<10}{"Nick_Name":>10}')
    for record in yepp:
        name, code, nick_name = record.split()
        print(f'{name:<10}{code:<10}{nick_name:>10}')

Name      Code       Nick_Name
praj      9898             tim
sam       SSS              tom
sin       9696             tam

In [99]:
os.remove('yoy.txt')

In [101]:
os.rename('yepp.txt','yoyo.txt')

_______________SERIALIZATION WITH JSON____________________

In [109]:
accounts_dict = {
    "accounts": [
        {"account": 1001, "name": "Alice",   "balance": 2500},
        {"account": 1002, "name": "Bob",     "balance": 4200},
        {"account": 1003, "name": "Charlie", "balance": 1800},
        {"account": 1004, "name": "Diana",   "balance": 3200},
        {"account": 1005, "name": "Ethan",   "balance": 5000}
    ]
}

In [110]:
import json

In [111]:
with open('accounts.json', 'w') as account:
    json.dump(accounts_dict, account)